

.groupChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 59px;
    background-color: #f0f0f0;
    width: 1001px;
    height: 300px;
    overflow: hidden;
  }
  .registration1Inner {
    position: absolute;
    top: 273px;
    left: 280px;
    width: 1001px;
    height: 477px;
  }

  .faceLIcon {
    position: absolute;
    height: 11.25%;
    width: 13.1%;
    top: 2px;
    right: 24.87%;
    bottom: 60.58%;
    left: 68.03%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    font-family: 'MS PGothic';
  }



  .vectorIcon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -200px;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
  }
  
  .component4 {
    position: absolute;
    top: 491px;
    left: -253px;
    width: 778.6px;
    height: 775.3px;
  }
  .areYouHere {
    position: absolute;
    top: 370px;
    left: 452px;
    display: inline-block;
    width: 745px;
    height: 203px;
  }
  
  .letsGetStarted {
    position: absolute;
    top: 300px;
    left: 658px;
    font-size: 40px;
    display: inline-block;
    width: 333px;
    height: 42px;
  }
  .component6Icon {
    position: absolute;
    top: 450px;
    left: 924px;
    width: 167px;
    height: 300px;
    cursor: pointer;
  }
  .registration1Child {
    position: absolute;
    top: 532px;
    left: 2686px;
    width: 134px;
    height: 134px;
  }
  .component5Icon {
    position: absolute;
    top: 450px;
    left: 1111px;
    width: 167px;
    height: 300px;
    cursor: pointer;
  }
  .textLogo {
    position: absolute;
    height: 70%;
    width: 10%;
    top: 10px;
    right: .23%;
    bottom: 0%;
    left: 20px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .testimonials {
    position: absolute;
    height: 13.36%;
    width: 19.87%;
    top: 30.88%;
    left: 21.63%;
    font-weight: 900;
    display: inline-block;
  }
  .aboutUs {
    position: absolute;
    height: 13.36%;
    width: 19.87%;
    top: 30.88%;
    left: 39.54%;
    font-weight: 900;
    display: inline-block;
  }
  .myProfile {
    position: absolute;
    height: 13.36%;
    width: 15.38%;
    top: 26.73%;
    left: 90.62%;
    font-weight: 900;
    color: #ef476f;
    display: inline-block;
  }
  .component13 {
    position: absolute;
    height: 21.19%;
    width: 98.89%;
    top: -30px;
    right: 1.11%;
    bottom: 78.81%;
    left: 0%;
    font-size: 20px;
    font-family: 'MS PGothic';
  }
  .registration1 {
    width: 100%;
    position: relative;
    background: linear-gradient(#fff, #fff), linear-gradient(#2660a4, #2660a4), linear-gradient(#0d0a0b, #0d0a0b), linear-gradient(#06d6a0, #06d6a0), linear-gradient(#ffd166, #ffd166), #ef476f;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: 64px;
    color: #000;
    font-family: 'MS PGothic';
    position: relative;
    overflow: hidden; /* Ensure the parent container hides overflow */
    max-height: 100vh;
    
  }
  