
/* .redBlob{
  position: absolute;
  top: 50px;
  left: -100px;
}

.greenBlob{
  position: absolute;
  left: 1150px;
  top: -40px;
} */

html, body {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

.landingPageChild {
  position: absolute;
  top: 52px;
  left: 246px;
  width: 503.4px;
  height: 400px;
  object-fit: contain;
}
.textLogo {
  position: absolute;
  top: 50px;
  left: calc(50% - 521px);
  width: 1042px;
  height: 668px;
  object-fit: cover;
}
.testimonials {
  position: absolute;
  top: 52px;
  left: 224px;
  display: inline-block;
  width: 219px;
  height: 29px;
}
.home {
  position: absolute;
  top: 52px;
  left: 77px;
  color: #ef476f;
  display: inline-block;
  width: 219px;
  height: 29px;
}
.aboutUs {
  position: absolute;
  top: 52px;
  left: 494px;
  display: inline-block;
  width: 219px;
  height: 29px;
}
.vectorIcon {
  position: absolute;
  top: 250px;
  left: 1000px;
  width: 760.8px;
  height: 600;
  object-fit: contain;
}
.vectorIcon1 {
  position: absolute;
  height: 70%;
  width: 70%;
  top: 20%;
  right: 0%;
  bottom: 0%;
  left: 10%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.faceLIcon {
  position: absolute;
  height: 11.25%;
  width: 13.1%;
  top: 35%;
  right: 24.87%;
  bottom: 60.58%;
  left: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component4 {
  position: absolute;
  top: 74.59px;
  left: -232px;
  width: 778.6px;
  height: 775.3px;
}
.faceRIcon {
  position: absolute;
  top: 380px;
  left: 1280px;
  width: 102px;
  height: 87.2px;
}
.landingPageItem {
  position: absolute;
  top: 100px;
  left: 900px;
  width: 477px;
  height: 374.7px;
  object-fit: contain;
}
.signUpButtonChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 22px;
  background-color: #c7def9;
  border: 3px solid #000;
  box-sizing: border-box;
  width: 259px;
  height: 105px;
}
.signUp {
  position: absolute;
  top: calc(50% - 32.5px);
  left: calc(50% - 92.5px);
}
.signUpButton {
  width: 259px;
  position: relative;
  height: 105px;
}
.loginButtonChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 22px;
  background-color: #c7def9;
  border: 3px solid #000;
  box-sizing: border-box;
  width: 255px;
  height: 103px;
}
.logIn {
  position: absolute;
  top: calc(50% - 32.5px);
  left: calc(50% - 74.5px);
}
.loginButton {
  width: 255px;
  position: relative;
  height: 103px;
}
.signUpButtonParent {
  position: absolute;
  top: 600px;
  left: calc(50% - 312px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 111px;
  font-size: 50px;
  font-family: Lalezar;
}
.landingPage {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), linear-gradient(#2660a4, #2660a4), linear-gradient(#0d0a0b, #0d0a0b), linear-gradient(#06d6a0, #06d6a0), linear-gradient(#ffd166, #ffd166), #ef476f;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: 'MS PGothic';
}

